<div class="home-container">
  <h1 class="home-title">Jobify <span style="font-size: 0.5em; font-weight: normal;">demo</span></h1>
  <p class="home-subtitle">Find the job of your dreams</p>

  <!-- Section comment ça marche -->
  <div class="how-it-works">
    <h2>How it works?</h2>
    <div class="steps-container">
      <div class="step">
        <div class="step-icon" contenteditable="false">
          <i class="bi bi-person-plus"></i>
        </div>
        <h4>1. Sign up</h4>
        <p>Create your profile in just a few minutes</p>
      </div>
      <div class="step">
        <div class="step-icon" contenteditable="false">
          <i class="bi bi-search"></i>
        </div>
        <h4>2. Search</h4>
        <p>Explore our job listings</p>
      </div>
      <div class="step">
        <div class="step-icon" contenteditable="false">
          <i class="bi bi-send"></i>
        </div>
        <h4>3. Apply</h4>
        <p>Send your application easily</p>
      </div>
    </div>
    <div class="button-container">
      <a [routerLink]="['/jobs']" class="search-button">
        <i class="bi bi-search"></i>
        Search for a job
      </a>
    </div>
  </div>




</div>
